@import './variables';

.header-container {
    background: $secondary;
    height: 100px;
    display: flex;
    justify-content: space-between;
  
    .logo {
      width: 70px;
      height: 70px;
      // background: blue;
      margin: auto 7px;
    }
  
    .menu-button {
      color: white;
      font-size: 50px;
      height: 100%;
      padding: 0 10px 0 20px;
      display: flex;
      align-items: center;
    }
  }