@import './variables';

.content-cards-container {
    background: $secondary;

    .content-card {
        background: $secondary;
        // border-color: white;
        border: 3px solid white;

        &:hover {
            cursor: pointer;
        }
    }
}